<!-- 
  Plugin descriptor for the Ruby domain HTML rendering plugin.
  
  Copyright (c) 2010 DITA For Publishers
  Copyright (c) 2014 DITA Community
    
  This plug-in extends the base DITA-to-HTML process to provide appropriate
  rendering for ruby domain elements.
  
  -->
<plugin id="org.dita-community.ruby-d.html">
  <require plugin="org.dita-community.common.xslt"/> 
  <require plugin="org.dita-community.ruby-d.doctypes"/> 
  
  <feature extension="package.support.name" value="Eliot Kimber"/>
  <feature extension="package.support.email" value="ekimber@contrext.com"/>  
  
  <feature extension="dita.xsl.xhtml" value="xsl/rubyDomain2html.xsl" type="file"/>  
</plugin>
